<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>The High Country Beer Fest is a celebration of craft beer from around the region and the world.</h1>
        <p> More text goes here</p>
      </div>
    </div>
  </div>
</div>

